<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td><label for="userId">ID : </label></td>
        <td><input id="userId" name="userId" type="text"/></td>
    </tr>
    <tr>
        <td><label for="userPassword">PW : </label></td>
        <td><input id="userPassword" name="userPassword" type="password"/></td>
    </tr>
    <tr>
        <td rowspan="2">
            <button type="button" onclick="signIn()">SIGN IN</button>
        </td>
    </tr>
</table>
<script src="static/js/axios.js"></script>
<script>
    function signIn() {
        axios
            .post("/sign-in", {
                userId: document.querySelector("#userId").value,
                userPassword: document.querySelector("#userPassword").value,
            })
            .then(res => {

            })
    }
</script>
</body>
</html>